* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  background-color: #ffffff;
  color: #272727;
}

.hero-wrapper {
  position: relative;
  width: 1170px;
  margin: 0 auto;
}
.hero {
  background-color: #f8f8f8;
  padding: 104px 0 168px;
}
.hero-img {
  position: absolute;
  top: -14%;
  right: 8%;
}
.pre-title {
  line-height: 1.86;
  color: #161515;
  margin-bottom: 40px;
}
.pre-title--margin {
  text-align: center;
  margin-bottom: 0px;
}
.title {
  font-family: "League Spartan";
  font-size: 250px;
  font-weight: 300;
  margin-bottom: 30px;
}
.text {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.55;
  color: #161515;
}
.text-hero {
  max-width: 570px;
  text-align: justify;
  margin-bottom: 51px;
}

.btn {
  width: 278px;
  height: 82px;
  background-color: #161515;
  font-size: 32px;
  color: #fff;
  font-family: "League Spartan";
  border: none;
  cursor: pointer;
}
.chip {
  width: 143px;
  height: 82px;
  background-color: #fff;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.86;
  text-align: center;
  color: #272727;
  padding-top: 13px;
}

.button-wrapper {
  display: flex;
}
.section-models {
  width: 530px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 142px;
}

.section-title {
  font-weight: 400;
  font-size: 72px;
  line-height: 1.125;
  margin-bottom: 65px;
  text-align: center;
}
.img-wrapper {
  position: relative;
  width: 417px;
  height: 630px;
  margin: 0 auto;
  background: #f8f8f8;
}
.item-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-143px, -205px);
}
.img-wrapper--size {
  width: 496px;
  height: 630px;
}
.item-img--position {
  transform: translate(-250px, -250px);
}
.item-title {
  margin-top: 67px;
  text-align: center;
}
.item-text {
  margin-top: 17px;
  text-align: center;
}

.item {
  margin-bottom: 85px;
}
.item:nth-child(2) {
  margin-bottom: 0px;
}
.list {
  margin-bottom: 104px;
}
.about-link {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #bb8b5d;
}
.about-title::after {
  content: "";
  display: block;
  width: 180px;
  height: 1px;
  background-color: #161515;
  text-align: center;
  margin: 0 auto;
  margin-top: -2px;
}
.about-title {
  font-family: "League Spartan";
  font-weight: 400;
  font-size: 32px;
  line-height: 1.86;
  text-transform: capitalize;
  text-align: center;
  color: #161515;
  margin-bottom: 46px;
}
.about-text {
  line-height: 1.7;
  font-size: 24px;
  text-align: center;
}
